body{
    background: rgba(170, 170, 170, 0.171) ;
    font : "Open Sans";
}
#bodytext {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
}
.topArea{
     
}
.layout{
    background: white;
}

a {
     color: inherit; 
} 
a:hover 
{
     color: cornflowerblue;
     text-decoration:none; 
     cursor:pointer;  
}
div.post{
    outline: 5px solid cornflowerblue;
    border : 2px transparent black;
    margin: 30px;
    padding: 2px;
    
}
.post {
    font : "Open Sans";


}
h2.post,h3.post,p.post{
    color: black;
}
h2.post{

    margin: 10px;
    padding:5px;
    font-size: 1.5em;
}
h3.post{
    margin: 4px;
    padding:4px;
    font-size: 1.3em;
}
p.post{
    font-size: 1.0em;


}

